<div class="wd-container">
  <div class="reveal" data-aos="zoom-out-down" data-aos-offset="200" data-aos-easing="ease-in-out"
    data-aos-duration="1000" data-aos-mirror="true" data-aos-once="true">
    <img class="img-fluid rounded" fxShow.sm = "true" fxShow.gt-md="false" fxShow.gt-lg="false"  src="../../../assets/img/godwin_ebele_3.jpg" alt="Godwin Ebele Wide Angle Pic">
    <img class="img-fluid rounded" fxShow.sm="false" fxShow.gt-md="true" fxShow.lg="true" src="../../../assets/img/godwin_ebele_wide.jpg" alt="Godwin Ebele Wide Angle Pic">
  </div>
  <app-count-down-timer></app-count-down-timer>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h3 class="text-center mt-5 mb-5">Well Wishes</h3>
    </div>
    <div class="col-12 d-flex justify-content-center overflow p-5 mb-5">
        <app-loader *ngIf="loading"></app-loader>
        <div class="position-relative">
          <div class="carousel-container" *ngIf="!loading">
            <ng-container *ngFor="let wish of wishes; let i = index">
              <div class="slide" [ngClass]="{ active: i === activeIndex}">
                <div class="text-center text-dark">
                  <p class="mb-2 p-2"> {{wish?.message}}<span class="material-symbols-outlined icon">
                    format_quote
                    </span></p>
                  <span class="d-flex justify-content-center align-items-center">
                    <app-avatar [name]='wish.name!' [size]="avatarSize"></app-avatar>
                    <h6 class="ms-2">{{wish.name}}</h6>
                  </span>
                  <span><small>{{wish?.createdAt | date }}</small></span>
                </div>
              </div>
            </ng-container>
        </div>
      <div class="wd-btn-wrapper">
        <button class="wd-btn" (click)="prevSlide()"><span class="material-symbols-outlined">
          west
          </span> Prev</button>
        <button class="wd-btn" (click)="nextSlide()">Next <span class="material-symbols-outlined">
          east
          </span></button>
      </div>
        </div>
   
    </div>
  </div>
</div>
<div>
  <button class="btn btn-sm btn-dark wishes p-2" (click)="openModal()">Send Wishes</button>
</div>
<app-modal [title]="title" *ngIf="isModalOpen" (closed)="handleModalClose()">
  <form class="w-100" [formGroup]="form" (ngSubmit)="submit()">
    <label>
      Name:
      <input type="text" formControlName="name">
    </label>
    <p class="error" *ngIf="fc.name.invalid">
      Name is required
    </p>
    <label>
      Message:
      <textarea formControlName="message"></textarea>
    </label>
    <p class="error" *ngIf="fc.message.invalid">
      Message is required
    </p>
    <button type="submit" [disabled]="form.invalid">Submit</button>
  </form>
</app-modal>