.wd-brand {
    font-family: Jenna;
    font-size: 25px;
    padding-top: 15px;
}

a {
    text-decoration: none;
    color: #fff;
}

.wd-nav-bar {
    padding: 5px 5px;
    background: #000;
    color: #fff;
    display: flex;
    z-index: 999;
    align-items: center;
    position: absolute;
    left: 5px;
    top: 5px;
    border-radius: 5px;
}

.wd-collapse-nav {
    margin-top: 70px;
    width: 130px;
    padding: 15px;
    background: rgba(0, 0, 0, 0);
    z-index: 999;
    transition: .25s ease-in-out;
    border-radius: 15px;
    position: absolute;
}

.wd-collapse-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wd-collapse-nav ul li {
    margin: 0;
}

.wd-collapse-nav ul li a {
    display: flex;
    align-items: center;
    background: #000;
    color: #fff;
    justify-content: center;
}

.active {
    background: rgb(255, 175, 137);
    color: rgb(0, 0, 0);
}

.wd-collapse-nav ul li a:hover {
    display: flex;
    align-items: center;
    background: rgb(255, 175, 137);
    color: rgb(0, 0, 0);
    justify-content: center;  
}

#nav-icon {
    width: 20px;
    height: 5px;
    position: relative;
    margin-left: 10px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #ffb392;
    border-radius: 0;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 0px;
}

#nav-icon span:nth-child(2) {
    top: 5px;
}

#nav-icon span:nth-child(3) {
    top: 10px;
}

#nav-icon.open span:nth-child(1) {
    top: 5px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon.open span:nth-child(3) {
    top: 5px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}