<div class="container">
    <ul>
        <li class="mb-4 mt-4"><a routerLink="" routerLinkActive="activeLink">HOME</a></li>
        <li class="mb-4 mt-4"><a routerLink="/gifts" routerLinkActive="activeLink">GIFTS</a></li>
        <li class="mb-4 mt-4"><a routerLink="/photos" routerLinkActive="activeLink">PHOTOS</a></li>
        <li class="mb-4 mt-4"><a routerLink="/venue" routerLinkActive="activeLink">VENUE</a></li>
        <li class="mb-4 mt-4"><a routerLink="/stream" routerLinkActive="activeLink">STREAM</a></li>
    </ul>
</div>