.progress-bar {
    background-color: #000000 !important;
}

.card {
    padding: 15px 15px;
    border: none;
    background: #f9f9f9 !important;
}


.bg-white {
    background: #fff;
}

.wd-h-25 {
    margin-top: 25px;
}
