<div class="container">
    <section>
        <div class="container mt-5">
            <div class="row mb-3">
                <div class="col-6 col-lg-4 mb-4 mb-lg-0" *ngFor="let product of products">
                    <div class="card">
                        <img src="{{product?.image_url}}" class="card-img-top" alt="Laptop" />
                        <div class="card-body">
                            <div class="d-block mb-3">
                                <h5 class="mb-0">{{product?.name}}</h5>
                                <h5 class="text-dark mb-0 mt-2">{{product?.price | currency: '₦' }}</h5>
                                <div class="progress mt-2">
                                    <div class="progress-bar" role="progressbar" [style.width.%]="product.progress"
                                        aria-valuenow="product.progress" aria-valuemin="0" aria-valuemax="100">
                                        {{product?.progress}}%</div>
                                </div>
                                <button class="btn btn-sm btn-dark mt-2" (click)="openModal(product.id)">Drop
                                    Gift</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-modal [title]="title" *ngIf="isModalOpen" (closed)="handleModalClose()">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="form">

                <input class="form-control mb-2" type="email" placeholder="Enter Email" formControlName="email">
                <p class="error" *ngIf="fc.email.invalid && fc.email.dirty">Email is required</p>
                <input class="form-control" type="number" placeholder="Enter amount to be gifted" formControlName="amount">
                <p class="error" *ngIf="fc.amount.invalid && fc.amount.dirty">Amount is required</p>
                <button type="button" class="btn btn-dark mt-2" angular4-paystack (disabled)="form.invalid"
                    [key]="'pk_test_3692417b8ab0a3a9edd73e03dfffd16b359c9470'" [email]="fc.email.value!" [amount]="fc.amount.value! * 100" [ref]="reference"
                    [class]="'btn btn-primary'" (paymentInit)="paymentInit()" (onClose)="paymentCancel()"
                    (callback)="paymentDone($event)">Drop Gift</button>
            </form>
        </div>
    </div>
</app-modal>