<nav class="navbar navbar-expand-lg navbar-light p-2" style="background-color: #ffffff41;">
    <a class="navbar-brand d-lg-none" routerLink="/"><h4 class="header">Godwin ^ Ebele</h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbarToggler7"
        aria-controls="myNavbarToggler7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbarToggler7">
        <ul class="navbar-nav mx-auto">
          <li class="mb-2 mt-2 me-2"><a routerLink="/" routerLinkActive="activeLink">Home</a></li>
          <li class="mb-2 mt-2 me-2"><a routerLink="/gifts" routerLinkActive="activeLink">Gifts</a></li>
          <li class="mb-2 mt-2 me-2"><a routerLink="/photos" routerLinkActive="activeLink">Photos</a></li>
            <a class="d-none d-lg-block me-2" href="#"> <h4 class="header">Godwin & Ebele</h4></a>
            <li class="mb-2 mt-2 me-2"><a routerLink="/venue" routerLinkActive="activeLink">Venue</a></li>
        <li class="mb-2 mt-2 me-2"><a routerLink="/stream" routerLinkActive="activeLink">Stream</a></li>
        </ul>
    </div>
</nav>