.wg-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wg-modal-content {
    display: block;
  }
  
  .wg-modal-header {
    background-color: #f9f9f9;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Montserrat;
  }
  
  .wg-modal-header h2 {
    margin: 0;
  }
  
  .wg-modal-header button {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: #333;
    cursor: pointer;
  }
  
  .wg-modal-body {
    background-color: #fff;
    padding: 10px;
    min-width: 400px;
    min-height: 200px;
    overflow-y: auto;
  }
  
  